.dynamicForm {
  box-shadow: 2px 6px 8px grey;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px 2px;
  width: 98%;
}
.dynamicForm .formGroup {
  padding: 0.5em;
  display: flex;
}
.formRow {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 33%;
}

.formButton {
  padding: 0.5em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.button {
  width: 45%;
  height: 50px;
  margin: 5px;
}

.dynamicForm .formLabel {
  text-align: left;
  color: #2e86c1;
}
.dynamicForm .formInput {
  margin-top: 5px;
  margin-right: 10px;
  line-height: 1.5em;
}
.formInput {
  height: 40px;
  width: 90%;
}

.dynamicForm select {
  margin-top: 5px;
  line-height: 1.5em;
}

.dynamicForm .formGroup .formButton button {
  padding: 0.5em;
}

.dynamicForm .formGroupRadio {
  display: flex;
  flex-direction: row;
}

.dynamicForm .formGroupCheckbox {
  display: flex;
  flex-direction: row;
}

.formTitle {
  text-align: left;
}

.formActions {
  display: flex;
}
.formActions button {
  width: 80px;
  line-height: 1.5em;
  background-color: #3498db;
  color: white;
  border-radius: 4px;
  border: 0;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 5px;
}
